<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to USCG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            window.onresize = function () {
                console.log(window.innerWidth);
                if (window.innerWidth < 450) {
                    $(".title-text").html("United States<br>Coast Guard");
                } else {
                    $(".title-text").html("United States Coast Guard");
                }      
            };

            //modal closes on click
            $( ".modal-close" ).click(function() {
                console.log("clicked");
                $('.message-modal').hide();
            });
        });
    </script>
</head>

<body>
    <!--Nav Bar and Sign in-->
    <header id="header">
        <div class="skin-header-background">
            <div class="skin-header row">
                <div class="cg-logo col-sm-12 col-md-2">
                    <a href="http://www.uscg.mil/" target="">
                        <img src="../assets/USCG_Emblem.png" alt="United States Coast Guard Logo" title="United States Coast Guard"
                            style="max-height: 100%" />
                    </a>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="skin-title">
                        <a href="https://www.uscg.mil/" title="United States Coast Guard">
                            <div class="hidden-xs">
                                <span class="title-text withsub">United States Coast Guard</span>
                                <span class="subtitle-text">U.S. Department of Homeland Security</span>
                            </div>
                            <div class="visible-xs title-text">
                                United States Coast Guard
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <!--Authentication Form-->
                    <h4>Welcome {{ user.displayName }}</h4>
                </div>
            </div>
            <div class="otnav nopad">
                <nav class="nav-main">
                    <ul class="nav nav-main">
                        <li class="dropdown  top-level ">
                            <a href="https://www.uscg.mil/home/" target="" tabindex="0" aria-expanded="false">USCG Home<span
                                    class="fa fa-lg fa-angle-down"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--UI For the Rescue Tool-->
    <section>
        <div style="height: 85%" class="rescue-tools">
            <!--Displays info of currently selected boater-->
            <div style="height: 200px;" class="row rescue-tool-bottom">
                <div class="col-sm-5">
                    <h2>{{messager.name}}</h2>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <img style="height:125px; width:125px" src="{{messager.image}}" onerror="src='../assets/USCG_Emblem.png'">                    
                </div>            
            </div>
            <br><hr><br>
            <div style="color: white;" class="container">
                <div *ngFor="let messages of messager.messages">
                    <p>{{messages[1].name}}: {{messages[1].content}}</p>
                </div>
            <form style="text-align: right; color:black;" action="message" [formGroup]="message" (ngSubmit)="Messaging(message.value)">
                <input type="text" formControlName="content">
                <br>
                <button class="btn" type="submit" name="Send" value="Send">Send</button>
            </form>
            </div>
        </div>
        <div class="rescue-map">
            <agm-map id="map" style="height: 100%" [latitude]="lat" [longitude]="long">
                <agm-marker [latitude]="mLat" [longitude]="mLong" [iconUrl]="{
                    url: 'https://img.icons8.com/color/40/000000/us-coast-guard.png',
                    scaledSize: {
                        width: 40,
                        height: 40
                    }
                }"></agm-marker>
                <agm-marker *ngFor="let ship of myShips; let i = index" (markerClick)="clickMe(i, myShips)" [latitude]="ship.lat" [longitude]="ship.lon" [iconUrl]="{
                    url: 'https://img.icons8.com/doodle/48/000000/cruise-ship.png',
                    scaledSize: {
                        width: 40,
                        height: 40
                    }
                }">
                    <agm-info-window [disableAutoPan]="true">
                        <p><strong>Name: {{ship.First_Name}} {{ship.Last_Name}}</strong></p>
                        <p><strong>Vessel Number: {{ship.Vessel_No}}</strong></p>
                        <p><strong>Mayday: {{ship.mayday}}</strong></p>                        
                        <p><strong>Latitude: {{ship.lat}}</strong></p>
                        <p><strong>Longitude: {{ship.lon}}</strong></p>
                        <p><strong>Emergency Contact: {{ship.Emergency_Contact_Name}}</strong></p>
                        <p><strong>Emergency Contact Number: {{ship.Emergency_Contact_Phone}}</strong></p>
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </section>

    <!--Message Modal-->
    <div class="message-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
    </div>
</body>

</html>